<!DOCTYPE html>
<html class="no-js" lang="fr" dir="ltr">
<head>
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->

<title>Déroulement de champs - Canada.ca</title>
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="description" content="Transforme une simple liste en un liste de choix.">
<meta name="author" content=" ">
<meta name="dcterms.title" content="Déroulement de champs">
<meta name="dcterms.description" content="Transforme une simple liste en un liste de choix.">
<meta name="dcterms.creator" content=" ">
<meta name="dcterms.language" content="fra">
<meta name="dcterms.subject" content="">
<meta name="dcterms.issued" content="">
<meta name="dcterms.modified" content="2024-08-27">



<link href="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/css/theme.css" />
<noscript><link rel="stylesheet" href="/wet-boew-demos/gcweb-pr2725/dist/wet-boew/css/noscript.css" /></noscript>
</head>
<body vocab="http://schema.org/" typeof="WebPage"><nav>
	<ul id="wb-tphp">
		<li class="wb-slc"><a class="wb-sl" href="#wb-cont">Passer au contenu principal</a></li>
		<li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Passer à «&#160;À propos de ce site&#160;»</a></li></ul>
</nav>

<header>
	<div id="wb-bnr" class="container">
		<div class="row">
			
				<section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
	<h2 class="wb-inv">Sélection de la langue</h2>
	<ul class="list-inline mrgn-bttm-0">
		<li>
			<a lang="en" hreflang="en" href="fieldflow-en.html">
				<span class="hidden-xs" translate="no">English</span>
				<abbr title="English" translate="no" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">en</abbr>
			</a>
		</li>
	</ul>
</section>

			
			<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
	<a href="https://wet-boew.github.io/GCWeb/" property="url">
		<img src="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/sig-blk-fr.svg" alt="Gouvernement du Canada" property="logo" /><span class="wb-inv"> / <span lang="en">Government of Canada</span></span>
	</a>
	<meta property="name" content="Gouvernement du Canada">
	<meta property="areaServed" typeof="Country" content="Canada" />
	<link property="logo" href="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/wmms-blk.svg" />
</div>

			
				
<section id="wb-srch" class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-12 col-sm-5 col-md-4">
	<h2>Recherche</h2>
	<form action="https://www.canada.ca/fr/sr/srb.html" method="get" name="cse-search-box" role="search">
		<div class="form-group wb-srch-qry">
			<label for="wb-srch-q" class="wb-inv">Rechercher dans Canada.ca</label>
			<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Rechercher dans Canada.ca" />
			<datalist id="wb-srch-q-ac"></datalist>
		</div>
		<div class="form-group submit">
			<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub">
				<span class="glyphicon-search glyphicon"></span>
				<span class="wb-inv">Recherche</span>
			</button>
		</div>
	</form>
</section>

			
		</div>
	</div>
	
	
	<hr>
	
	<div class="container">
		<div class="row"><div class="col-md-8">
					<nav class="gcweb-menu" typeof="SiteNavigationElement">
	<h2 class="wb-inv">Menu</h2>
	<button type="button" aria-haspopup="true" aria-expanded="false">Menu<span class="wb-inv"> principal</span> <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
	<ul role="menu" aria-orientation="vertical" data-ajax-replace="https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-fr.html"><li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/emplois.html">Emplois et milieu de travail</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/immigration-citoyennete.html">Immigration et citoyenneté</a></li>
		<li role="presentation"><a role="menuitem" href="https://voyage.gc.ca/">Voyage et tourisme</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/entreprises.html">Entreprises et industrie</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/prestations.html">Prestations</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/sante.html">Santé</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/impots.html">Impôts</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/environnement.html">Environnement et ressources naturelles</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/defense.html">Sécurité nationale et défense</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/culture.html">Culture, histoire et sport</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/police.html">Services de police, justice et urgences</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/transport.html">Transport et infrastructure</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.international.gc.ca/world-monde/index.aspx?lang=fra">Canada et le monde</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/finance.html">Argent et finances</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/science.html">Science et innovation</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/evenements-vie.html">Gérer les événements de la vie</a></li></ul>
</nav>

				</div></div>
	</div>
	
	<nav id="wb-bc" property="breadcrumb">
	<h2>Vous êtes ici :</h2>
	<div class="container">
		<ol class="breadcrumb" typeof="BreadcrumbList">
			<li property="itemListElement" typeof="ListItem">
				<a property="item" typeof="WebPage" href="https://www.canada.ca/fr.html">
					<span property="name">Canada.ca</span>
				</a>
				<meta property="position" content="1">
			</li>
			
							<li property="itemListElement" typeof="ListItem">
								<a property="item" typeof="WebPage" href="/wet-boew-demos/gcweb-pr2725/index-fr.html">
									<span property="name">GCWeb</span>
								</a>
								<meta property="position" content="2">
							</li>
							
		</ol>
	</div>
</nav>


</header>

<main class="container" property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement"><h1 property="name" id="wb-cont">Déroulement de champs</h1>
<ul class="list-inline">
	<li><a class="btn btn-primary" href="fieldflow-doc-fr.html">Documentation</a></li>
	<li><a class="btn btn-primary" href="https://github.com/wet-boew/GCWeb/issues/new?title=Fieldflow">Questions ou commentaires?</a></li>
</ul>
<p>Transforme une simple liste en un liste de choix.</p>

<ul>
	<li>Déroulement de champs (actuelle)</li>
	<li><a href="basic-fr.html">Déroulement de champs avec des configurations de base</a></li>
	<li><a href="advanced-fr.html">Déroulement de champs avancé</a></li>
	<li><a href="alternative-fr.html">Alternatives pour le déroulement de champs</a></li>
</ul>

<hr>

<div class="wb-prettify all-pre"></div>

<nav role="navigation">
	<h2>Sur cette page:</h2>
	<ul>
		<li><a href="#redirect">Redirection</a></li>
		<li><a href="#ajax">Ajax</a></li>
		<li><a href="#regroupement">Regroupement</a></li>
		<li><a href="#imbrication">Imbrication</a></li>
		<li><a href="#aligne">Bouton aligné</a></li>
		<li><a href="#inline-btn-color">Couleur pour bouton aligné</a></li>
		<li><a href="#inline-show-label">Affichage d'étiquette pour la liste déroulante avec un bouton aligné</a></li>
	</ul>
</nav>


<h2 id="redirect">Redirection</h2>

<div class="wb-fieldflow">
	<p>Trouvez le plugiciel qui répond à vos besoin:</p>
	<ul>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/data-ajax/data-ajax-fr.html">Insertion de contenu</a></li>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/lightbox/lightbox-fr.html">Galerie photos</a></li>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/charts/charts-fr.html?id=myId&something=test&lang=xyz">Dessiner des graphiques</a></li>
		<li><!--test comment--><a href="https://wet-boew.github.io/v4.0-ci/demos/details/details-fr.html">Contenu affichable/masquable</a></li>
		<li>
			<a href="https://wet-boew.github.io/v4.0-ci/demos/equalheight/equalheight-fr.html">Uniformisation de la hauteur</a>
		</li>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/overlay/overlay-fr.html">Afficher un contenu <strong>superposé</strong></a></li>
	</ul>
</div>

<pre><code>&lt;div class=&quot;wb-fieldflow&quot;&gt;
	&lt;p&gt;Trouvez le plugiciel qui répond à vos besoin:&lt;/p&gt;

	&lt;ul&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/data-ajax/data-ajax-fr.html&quot;&gt;Insertion de contenu&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/lightbox/lightbox-fr.html&quot;&gt;Galerie photos&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/charts/charts-fr.html?id=myId&something=test&lang=xyz&quot;&gt;Dessiner des graphiques&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;!--test comment--&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/details/details-fr.html&quot;&gt;Contenu affichable/masquable&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/equalheight/equalheight-fr.html&quot;&gt;Uniformisation de la hauteur&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/overlay/overlay-fr.html&quot;&gt;Afficher un contenu &lt;strong&gt;superposé&lt;/strong&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;</code></pre>




<h2 id="ajax">Ajax</h2>

<div class="well">
	<p>Cette fonctionnalité dépend du <a href="https://wet-boew.github.io/wet-boew/docs/ref/data-ajax/data-ajax-fr.html">plugiciel Data ajax</a>.</p>
</div>

<div class="wb-fieldflow">
	<p>Choisissez du contenu à insérer:</p>
	<ul>
		<li data-wb-fieldflow="ajax/ajax-1.html">(Ensemble 1) Nunc sed mauris id nisi molestie porta at quis erat.</li>
		<li data-wb-fieldflow="ajax/ajax-2.html">(Ensemble 2) Vestibulum pretium tortor vel facilisis sodales.</li>
		<li data-wb-fieldflow="ajax/ajax-3.html">(Ensemble 3) Nunc sit amet dui ut justo efficitur dapibus.</li>
		<li data-wb-fieldflow="ajax/ajax-4.html">(Ensemble 4) Praesent at purus ut turpis sollicitudin aliquam.</li>
		<li data-wb-fieldflow="ajax/ajax-5.html">(Ensemble 5) <em>Sed eget dui ac <strong>nunc mattis</strong> consequat</em> in a ex.</li>
	</ul>
</div>

<!-- Fournir des alternative et/ou des façons multiple à accéder au contenu pourrait être requis afin d'être conforme à la norme WCAG et/ou afin de respecter l'approche de l'amélioration progressive -->
<p><em><a rel="alternate" href="#">Consulter la liste entière des options disponible</a> (Lien bidon)</em></p>


<pre><code>&lt;div class=&quot;wb-fieldflow&quot;&gt;
	&lt;p&gt;Choisissez du contenu à insérer:&lt;/p&gt;
	&lt;ul&gt;
		&lt;li data-wb-fieldflow=&quot;ajax/ajax-1.html&quot;&gt;(Ensemble 1) Nunc sed mauris id nisi molestie porta at quis erat.&lt;/li&gt;
		&lt;li data-wb-fieldflow=&quot;ajax/ajax-2.html&quot;&gt;(Ensemble 2) Vestibulum pretium tortor vel facilisis sodales.&lt;/li&gt;
		&lt;li data-wb-fieldflow=&quot;ajax/ajax-3.html&quot;&gt;(Ensemble 3) Nunc sit amet dui ut justo efficitur dapibus.&lt;/li&gt;
		&lt;li data-wb-fieldflow=&quot;ajax/ajax-4.html&quot;&gt;(Ensemble 4) Praesent at purus ut turpis sollicitudin aliquam.&lt;/li&gt;
		&lt;li data-wb-fieldflow=&quot;ajax/ajax-5.html&quot;&gt;(Ensemble 5) &lt;em&gt;Sed eget dui ac &lt;strong&gt;nunc mattis&lt;/strong&gt; consequat&lt;/em&gt; in a ex.&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;

&lt;!-- Fournir des alternative et/ou des façons multiple à accéder au contenu pourrait être requis afin d'être conforme à la norme WCAG et/ou afin de respecter l'approche de l'amélioration progressive --&gt;
&lt;p&gt;&lt;em&gt;&lt;a rel=&quot;alternate&quot; href=&quot;#&quot;&gt;Consulter la liste entière des options disponible&lt;/a&gt; (Lien bidon)&lt;/em&gt;&lt;/p&gt;</code></pre>




<h2 id="regroupement">Regroupement</h2>

<div class="wb-fieldflow">
	<p>Trouvez le plugiciel qui répond à vos besoin:</p>

	<ul>
		<li>Mise en page <strong>et</strong> présentation
			<ul>
				<li><a href="https://wet-boew.github.io/v4.0-ci/demos/data-ajax/data-ajax-fr.html">Insertion de contenu</a></li>
				<li><a href="https://wet-boew.github.io/v4.0-ci/demos/charts/charts-fr.html">Dessiner des graphiques</a></li>
				<li><a href="https://wet-boew.github.io/v4.0-ci/demos/equalheight/equalheight-fr.html">Uniformisation de la hauteur</a></li>
			</ul>
		</li>
		<li>Interaction
			<ul>
				<li><a href="https://wet-boew.github.io/v4.0-ci/demos/details/details-fr.html">Contenu affichable/masquable</a></li>
				<li><a href="https://wet-boew.github.io/v4.0-ci/demos/lightbox/lightbox-fr.html">Galerie photos</a></li>
				<li><a href="https://wet-boew.github.io/v4.0-ci/demos/overlay/overlay-fr.html">Afficher un contenu superposé</a></li>
			</ul>
		</li>
	</ul>
</div>


<pre><code>&lt;div class=&quot;wb-fieldflow&quot;&gt;
	&lt;p&gt;Trouvez le plugiciel qui répond à vos besoin:&lt;/p&gt;

	&lt;ul&gt;
		&lt;li&gt;Mise en page &lt;strong&gt;et&lt;/strong&gt; présentation
			&lt;ul&gt;
				&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/data-ajax/data-ajax-fr.html&quot;&gt;Insertion de contenu&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/charts/charts-fr.html&quot;&gt;Dessiner des graphiques&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/equalheight/equalheight-fr.html&quot;&gt;Uniformisation de la hauteur&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
		&lt;li&gt;Interaction
			&lt;ul&gt;
				&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/details/details-fr.html&quot;&gt;Contenu affichable/masquable&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/lightbox/lightbox-fr.html&quot;&gt;Galerie photos&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/overlay/overlay-fr.html&quot;&gt;Afficher un contenu superposé&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;</code></pre>



<h2 id="imbrication">Imbrication <small>Ajout d'un contrôle subséquent</small></h2>

<div class="well">
	<p>Considérez d'inclure un indice textuel dans chaque items qui affichera une second liste déroulante. Par example, ceci peut ce faire en ajoutant le signe "+" au début de l'étiquette. Veuillez remarquer que les liste déroulante sont identifié par la présence de: <code>&lt;div class=&quot;wb-fieldflow-sub&quot;&gt;</code>.</p>
</div>

<div class="wb-fieldflow">
	<p>Trouvez le plugiciel qui répond à vos besoin:</p>
	<ul>
		<li>+ Mise en page <strong>et</strong> présentation
			<div class="wb-fieldflow-sub">
				<p>Et c'est pour?</p>
				<ul>
					<li>+ L'apparence
						<div class="wb-fieldflow-sub">
							<p>Quel sorte de transformation?</p>
							<ul>
								<li><a href="https://wet-boew.github.io/v4.0-ci/demos/equalheight/equalheight-fr.html">Uniformisation de la hauteur</a></li>
							</ul>
						</div>
					</li>
					<li><a href="https://wet-boew.github.io/v4.0-ci/demos/data-ajax/data-ajax-fr.html">Insertion de contenu</a></li>
					<li><a href="https://wet-boew.github.io/v4.0-ci/demos/charts/charts-fr.html">Dessiner des graphiques</a></li>
				</ul>
			</div>
		</li>
		<li>+ Interaction
			<div class="wb-fieldflow-sub">
				<p class="wb-fieldflow-label">Quel type d'interaction?</p>
				<ul>
					<li><a href="https://wet-boew.github.io/v4.0-ci/demos/details/details-fr.html">Contenu affichable/masquable</a></li>
					<li><a href="https://wet-boew.github.io/v4.0-ci/demos/lightbox/lightbox-fr.html">Galerie photos</a></li>
					<li><a href="https://wet-boew.github.io/v4.0-ci/demos/overlay/overlay-fr.html">Afficher un contenu superposé</a></li>
				</ul>
			</div>
		</li>
	</ul>
</div>


<pre><code>&lt;div class=&quot;wb-fieldflow&quot;&gt;
	&lt;p&gt;Trouvez le plugiciel qui répond à vos besoin:&lt;/p&gt;
	&lt;ul&gt;
		&lt;li&gt;+ Mise en page &lt;strong&gt;et&lt;/strong&gt; présentation
			<strong>&lt;div class=&quot;wb-fieldflow-sub&quot;&gt;</strong>
				&lt;p&gt;Et c'est pour?&lt;/p&gt;
				&lt;ul&gt;
					&lt;li&gt;+ L'apparence
						<strong>&lt;div class=&quot;wb-fieldflow-sub&quot;&gt;</strong>
							&lt;p&gt;Quel sorte de transformation?&lt;/p&gt;
							&lt;ul&gt;
								&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/equalheight/equalheight-fr.html&quot;&gt;Uniformisation de la hauteur&lt;/a&gt;&lt;/li&gt;
							&lt;/ul&gt;
						<strong>&lt;/div&gt;</strong>
					&lt;/li&gt;
					&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/data-ajax/data-ajax-fr.html&quot;&gt;Insertion de contenu&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/charts/charts-fr.html&quot;&gt;Dessiner des graphiques&lt;/a&gt;&lt;/li&gt;
				&lt;/ul&gt;
			<strong>&lt;/div&gt;</strong>
		&lt;/li&gt;
		&lt;li&gt;+ Interaction
			<strong>&lt;div class=&quot;wb-fieldflow-sub&quot;&gt;</strong>
				&lt;p class=&quot;wb-fieldflow-label&quot;&gt;Quel type d'interaction?&lt;/p&gt;
				&lt;ul&gt;
					&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/details/details-fr.html&quot;&gt;Contenu affichable/masquable&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/lightbox/lightbox-fr.html&quot;&gt;Galerie photos&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/overlay/overlay-fr.html&quot;&gt;Afficher un contenu superposé&lt;/a&gt;&lt;/li&gt;
				&lt;/ul&gt;
			<strong>&lt;/div&gt;</strong>
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;</code></pre>

<h2 id="aligne">Bouton aligné, choisissez une option pour aller vers...</h2>
<p>Notez: Lorsque le bouton est aligné, sont context dois être clairement défini afin que l'utilisateur comprend le context de sélection d'option. Cette conception est fait pour que ce component soit composé d'un titre représentatif de l'action, une description et un control de déroulement de champs.</p>
<div class="wb-fieldflow" data-wb-fieldflow='{"inline": true}'>
	<p>Trouvez le plugiciel qui répond à vos besoin:</p>
	<ul>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/data-ajax/data-ajax-fr.html">Insertion de contenu</a></li>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/lightbox/lightbox-fr.html">Galerie photos</a></li>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/charts/charts-fr.html">Dessiner des graphiques</a></li>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/details/details-fr.html">Contenu affichable/masquable</a></li>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/equalheight/equalheight-fr.html">Uniformisation de la hauteur</a></li>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/overlay/overlay-fr.html">Afficher un contenu superposé</a></li>
	</ul>
</div>
<pre><code>&lt;div class=&quot;wb-fieldflow&quot; <strong>data-wb-fieldflow='{&quot;inline&quot;: true}'</strong>&gt;
	&lt;p&gt;Trouvez le plugiciel qui répond à vos besoin:&lt;/p&gt;
	&lt;ul&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/data-ajax/data-ajax-fr.html&quot;&gt;Insertion de contenu&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/lightbox/lightbox-fr.html&quot;&gt;Galerie photos&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/charts/charts-fr.html&quot;&gt;Dessiner des graphiques&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/details/details-fr.html&quot;&gt;Contenu affichable/masquable&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/equalheight/equalheight-fr.html&quot;&gt;Uniformisation de la hauteur&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/overlay/overlay-fr.html&quot;&gt;Afficher un contenu superposé&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;</code></pre>

<h2 id="inline-btn-color">Couleur pour bouton aligné</h2>
<p>Note: La classe CSS peut être appliquée seulement pour le bouton aligné. La valeur pour l'option <code>btnStyle</code> peut être n'importe quel suffixe d'une classe de couleur valide de Bootstrap 3: <code>default</code>, <code>primary</code>, <code>success</code>, <code>info</code>, <code>warning</code>, <code>danger</code>, <code>link</code></p>
<div class="wb-fieldflow" data-wb-fieldflow='{"inline": true, "btnStyle":"success"}'>
	<p>Trouvez le plugiciel qui répond à vos besoin:</p>
	<ul>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/data-ajax/data-ajax-fr.html">Insertion de contenu</a></li>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/lightbox/lightbox-fr.html">Galerie photos</a></li>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/charts/charts-fr.html">Dessiner des graphiques</a></li>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/details/details-fr.html">Contenu affichable/masquable</a></li>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/equalheight/equalheight-fr.html">Uniformisation de la hauteur</a></li>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/overlay/overlay-fr.html">Afficher un contenu superposé</a></li>
	</ul>
</div>
<pre><code>&lt;div class=&quot;wb-fieldflow&quot; data-wb-fieldflow='{&quot;inline&quot;: true, <strong>&quot;btnStyle&quot;: &quot;success&quot;</strong>}'&gt;
	&lt;p&gt;Trouvez le plugiciel qui répond à vos besoin:&lt;/p&gt;
	&lt;ul&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/data-ajax/data-ajax-fr.html&quot;&gt;Insertion de contenu&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/lightbox/lightbox-fr.html&quot;&gt;Galerie photos&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/charts/charts-fr.html&quot;&gt;Dessiner des graphiques&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/details/details-fr.html&quot;&gt;Contenu affichable/masquable&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/equalheight/equalheight-fr.html&quot;&gt;Uniformisation de la hauteur&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/overlay/overlay-fr.html&quot;&gt;Afficher un contenu superposé&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
</code></pre>

<h2 id="inline-show-label">Affichage d'étiquette pour la liste déroulante (select) avec un bouton aligné</h2>
<p>Note: Applicable uniquement pour la liste déroulante avec un bouton aligné. Cette propriété est optionnelle. Par défaut, l'étiquette pour la liste déroulante avec un bouton d'envoi aligné n'est pas affichée. Ajoutez la propriété <code>showLabel</code> avec la valeur <code>true</code>.</p>
<div class="wb-fieldflow" data-wb-fieldflow='{"inline": true, "showLabel":true}'>
	<p>Trouvez le plugiciel qui répond à vos besoin:</p>
	<ul>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/data-ajax/data-ajax-fr.html">Insertion de contenu</a></li>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/lightbox/lightbox-fr.html">Galerie photos</a></li>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/charts/charts-fr.html">Dessiner des graphiques</a></li>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/details/details-fr.html">Contenu affichable/masquable</a></li>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/equalheight/equalheight-fr.html">Uniformisation de la hauteur</a></li>
		<li><a href="https://wet-boew.github.io/v4.0-ci/demos/overlay/overlay-fr.html">Afficher un contenu superposé</a></li>
	</ul>
</div>
<pre><code>&lt;div class=&quot;wb-fieldflow&quot; data-wb-fieldflow='{&quot;inline&quot;: true, <strong>&quot;showLabel&quot;: true</strong>}'&gt;
	&lt;p&gt;Trouvez le plugiciel qui répond à vos besoin:&lt;/p&gt;
	&lt;ul&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/data-ajax/data-ajax-fr.html&quot;&gt;Insertion de contenu&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/lightbox/lightbox-fr.html&quot;&gt;Galerie photos&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/charts/charts-fr.html&quot;&gt;Dessiner des graphiques&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/details/details-fr.html&quot;&gt;Contenu affichable/masquable&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/equalheight/equalheight-fr.html&quot;&gt;Uniformisation de la hauteur&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;https://wet-boew.github.io/v4.0-ci/demos/overlay/overlay-fr.html&quot;&gt;Afficher un contenu superposé&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
</code></pre>

<section class="pagedetails">
	<h2 class="wb-inv">Détails de la page</h2><dl id="wb-dtmd">
	<dt>Date de modification&#160;:</dt>
	<dd><time property="dateModified">2024-08-27</time></dd>
</dl>
</section>

</main>
<footer id="wb-info">
	<h2 class="wb-inv">À propos de ce site</h2>


	<div class="gc-main-footer">
		<div class="container">
			<nav>
				<h3>Gouvernement du Canada</h3>
				<ul class="list-col-xs-1 list-col-sm-2 list-col-md-3"><li><a href="https://www.canada.ca/fr/contact.html">Toutes les coordonnées</a></li>
					<li><a href="https://www.canada.ca/fr/gouvernement/min.html">Ministères et organismes</a></li>
					<li><a href="https://www.canada.ca/fr/gouvernement/systeme.html">À propos du gouvernement</a></li></ul>
				<h4><span class="wb-inv">Thèmes et sujets</span></h4>
				<ul class="list-unstyled colcount-sm-2 colcount-md-3"><li><a href="https://www.canada.ca/fr/services/emplois.html">Emplois</a></li>
					<li><a href="https://www.canada.ca/fr/services/immigration-citoyennete.html">Immigration et citoyenneté</a></li>
					<li><a href="https://voyage.gc.ca/">Voyage et tourisme</a></li>
					<li><a href="https://www.canada.ca/fr/services/entreprises.html">Entreprises</a></li>
					<li><a href="https://www.canada.ca/fr/services/prestations.html">Prestations</a></li>
					<li><a href="https://www.canada.ca/fr/services/sante.html">Santé</a></li>
					<li><a href="https://www.canada.ca/fr/services/impots.html">Impôts</a></li>
					<li><a href="https://www.canada.ca/fr/services/environnement.html">Environnement et ressources naturelles</a></li>
					<li><a href="https://www.canada.ca/fr/services/defense.html">Sécurité nationale et défense</a></li>
					<li><a href="https://www.canada.ca/fr/services/culture.html">Culture, histoire et sport</a></li>
					<li><a href="https://www.canada.ca/fr/services/police.html">Services de police, justice et urgences</a></li>
					<li><a href="https://www.canada.ca/fr/services/transport.html">Transport et infrastructure</a></li>
					<li><a href="https://www.international.gc.ca/world-monde/index.aspx?lang=fra">Le Canada et le monde</a></li>
					<li><a href="https://www.canada.ca/fr/services/finance.html">Argent et finances</a></li>
					<li><a href="https://www.canada.ca/fr/services/science.html">Science et innovation</a></li>
					<li><a href="https://www.canada.ca/fr/services/autochtones.html">Autochtones</a></li>
					<li><a href="https://www.canada.ca/fr/services/veterans-militaire.html">Vétérans et militaires</a></li>
					<li><a href="https://www.canada.ca/fr/services/jeunesse.html">Jeunesse</a></li>
					<li><a href="https://www.canada.ca/fr/services/evenements-vie.html">Gérer les événements de la vie</a></li></ul>
			</nav>
		</div>
	</div>

	<div class="gc-sub-footer">
		<div class="container d-flex align-items-center">
			<nav>
				<h3 class="wb-inv">Organisation du gouvernement du Canada</h3>
				<ul>
					<li><a href="https://www.canada.ca/fr/sociaux.html">Médias sociaux</a></li>
					<li><a href="https://www.canada.ca/fr/mobile.html">Applications mobiles</a></li>
					<li><a href="https://canada.ca/fr/gouvernement/a-propos-canada-ca.html">À propos de Canada.ca</a></li><li><a href="https://www.canada.ca/fr/transparence/avis.html">Avis</a></li>
					<li><a href="https://www.canada.ca/fr/transparence/confidentialite.html">Confidentialité</a></li></ul>
			</nav>
			<div class="wtrmrk align-self-end">
				<img src="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/wmms-blk.svg" alt="Symbole du gouvernement du Canada" />
			</div>
		</div>
	</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
<script src="/wet-boew-demos/gcweb-pr2725/dist/wet-boew/js/wet-boew.js"></script>
<script src="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/js/theme.js"></script>
</body>
</html>
