<!DOCTYPE html>
<html class="no-js" lang="fr" dir="ltr">
<head>
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->

<title>Cases à cocher et boutons radio - Canada.ca</title>
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="description" content="Cases à cocher et boutons radio">
<meta name="author" content=" ">
<meta name="dcterms.title" content="Cases à cocher et boutons radio">
<meta name="dcterms.description" content="Cases à cocher et boutons radio">
<meta name="dcterms.creator" content=" ">
<meta name="dcterms.language" content="fra">
<meta name="dcterms.subject" content="">
<meta name="dcterms.issued" content="">
<meta name="dcterms.modified" content="2021-05-07">



<link href="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/css/theme.css" />
<noscript><link rel="stylesheet" href="/wet-boew-demos/gcweb-pr2725/dist/wet-boew/css/noscript.css" /></noscript>
</head>
<body vocab="http://schema.org/" typeof="WebPage"><nav>
	<ul id="wb-tphp">
		<li class="wb-slc"><a class="wb-sl" href="#wb-cont">Passer au contenu principal</a></li>
		<li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Passer à «&#160;À propos de ce site&#160;»</a></li></ul>
</nav>

<header>
	<div id="wb-bnr" class="container">
		<div class="row">
			
				<section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
	<h2 class="wb-inv">Sélection de la langue</h2>
	<ul class="list-inline mrgn-bttm-0">
		<li>
			<a lang="en" hreflang="en" href="gc-chckbxrdio-doc-en.html">
				<span class="hidden-xs" translate="no">English</span>
				<abbr title="English" translate="no" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">en</abbr>
			</a>
		</li>
	</ul>
</section>

			
			<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
	<a href="https://wet-boew.github.io/GCWeb/" property="url">
		<img src="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/sig-blk-fr.svg" alt="Gouvernement du Canada" property="logo" /><span class="wb-inv"> / <span lang="en">Government of Canada</span></span>
	</a>
	<meta property="name" content="Gouvernement du Canada">
	<meta property="areaServed" typeof="Country" content="Canada" />
	<link property="logo" href="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/wmms-blk.svg" />
</div>

			
				
<section id="wb-srch" class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-12 col-sm-5 col-md-4">
	<h2>Recherche</h2>
	<form action="https://www.canada.ca/fr/sr/srb.html" method="get" name="cse-search-box" role="search">
		<div class="form-group wb-srch-qry">
			<label for="wb-srch-q" class="wb-inv">Rechercher dans Canada.ca</label>
			<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Rechercher dans Canada.ca" />
			<datalist id="wb-srch-q-ac"></datalist>
		</div>
		<div class="form-group submit">
			<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub">
				<span class="glyphicon-search glyphicon"></span>
				<span class="wb-inv">Recherche</span>
			</button>
		</div>
	</form>
</section>

			
		</div>
	</div>
	
	
	<hr>
	
	<div class="container">
		<div class="row"><div class="col-md-8">
					<nav class="gcweb-menu" typeof="SiteNavigationElement">
	<h2 class="wb-inv">Menu</h2>
	<button type="button" aria-haspopup="true" aria-expanded="false">Menu<span class="wb-inv"> principal</span> <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
	<ul role="menu" aria-orientation="vertical" data-ajax-replace="https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-fr.html"><li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/emplois.html">Emplois et milieu de travail</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/immigration-citoyennete.html">Immigration et citoyenneté</a></li>
		<li role="presentation"><a role="menuitem" href="https://voyage.gc.ca/">Voyage et tourisme</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/entreprises.html">Entreprises et industrie</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/prestations.html">Prestations</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/sante.html">Santé</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/impots.html">Impôts</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/environnement.html">Environnement et ressources naturelles</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/defense.html">Sécurité nationale et défense</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/culture.html">Culture, histoire et sport</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/police.html">Services de police, justice et urgences</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/transport.html">Transport et infrastructure</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.international.gc.ca/world-monde/index.aspx?lang=fra">Canada et le monde</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/finance.html">Argent et finances</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/science.html">Science et innovation</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/evenements-vie.html">Gérer les événements de la vie</a></li></ul>
</nav>

				</div></div>
	</div>
	
	<nav id="wb-bc" property="breadcrumb">
	<h2>Vous êtes ici :</h2>
	<div class="container">
		<ol class="breadcrumb" typeof="BreadcrumbList">
			<li property="itemListElement" typeof="ListItem">
				<a property="item" typeof="WebPage" href="https://www.canada.ca/fr.html">
					<span property="name">Canada.ca</span>
				</a>
				<meta property="position" content="1">
			</li>
			
							<li property="itemListElement" typeof="ListItem">
								<a property="item" typeof="WebPage" href="/wet-boew-demos/gcweb-pr2725/index-fr.html">
									<span property="name">GCWeb</span>
								</a>
								<meta property="position" content="2">
							</li>
							
		</ol>
	</div>
</nav>


</header>

<main class="container" property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement"><h1 property="name" id="wb-cont">Cases à cocher et boutons radio</h1>
<span class="wb-prettify all-pre hide"></span>

<dl class="horizontal">
	<dt>Statut</dt>
	<dd>Stable</dd>
	<dt>Type</dt>
	<dd>Conception de Canada.ca</dd>
	<dt>Dernière revue</dt>
	<dd>2021-05-10</dd>
	<dt>Orientation</dt>
	<dd><a href="https://conception.canada.ca/configurations-conception-communes/cases-cocher-boutons-radio.html">Cases à cocher et boutons radio - Configuration de conception de Canada.ca</a></dd>
	<dt>Nom technique</dt>
	<dd>
		<ul>
			<li><code>gc-chckbxrdio</code></li>
		</ul>
	</dd>
</dl>

<h2>But</h2>
<p>Affiche des cases à cocher et boutons radio plus grand que ce qui est nativement offert par les navigateurs et qui est conforme avec les configurations de conception de Canada.ca</p>
<p> Un problème de longue date avec les cases à cocher et les boutons radio est que les étiquettes ne semblent pas cliquables pour la plupart des gens </p>
<p> Même en utilisant des conceptions qui mettent en évidence le texte de l'étiquette ou mettent l'entrée et l'étiquette avec un contour gris, les études ont montré que les gens voulaient toujours cliquer sur la conception d'entrée. </p>

<h2>Utilisation</h2>
<div class="row wb-eqht-grd mrgn-tp-lg mrgn-bttm-xl">
	<div class="col-md-6">
		<h3 class="mrgn-tp-0 text-success h4">Utiliser quand <span class="glyphicon glyphicon-ok-circle"></span></h3>
		<ul>
			<li>Vous désirez avoir des cases à cocher et/ou boutons radio plus grand que ce qui est nativement offert par les navigateurs vous avez lu les <a href="https://conception.canada.ca/configurations-conception-communes/cases-cocher-boutons-radio.html#utilisation">recommendations de la Configuration de conception de Canada.ca</a>;</li>
			<li>Vos balises <code>input</code> sont explicites, dans le sens que les balises <code>input</code> sont adjacentes à leurs balises <code>label</code> associées.</li>
		</ul>
	</div>
	<div class="col-md-6 brdr-lft">
		<h3 class="mrgn-tp-0 text-danger h4">Ne pas utiliser quand <span class="glyphicon glyphicon-remove-circle"></span></h3>
		<ul>
			<li>Vous avez des cases à cocher et/ou boutons radio implicites, c'est-à-dire que les balises <code>input</code> se retrouvent à l'intérieur de leurs balises <code>label</code> respectives;</li>
			<li>Votre scénario se retrouve dans la <a href="https://conception.canada.ca/configurations-conception-communes/cases-cocher-boutons-radio.html#eviter">section Quoi éviter</a>.</li>
		</ul>
	</div>
</div>

<h2>Comment mettre en &oelig;uvre</h2>
<ul>
	<li>Ajouter la classe <code>gc-chckbxrdio</code> à l'élément <code>fieldset</code> ou l'élément parent qui contient toutes les zones d'entrée de type checkbox/radio.</li>
	<li><strong>Pour des cases à cocher plus compactes (tickbox)</strong>, la classe <code>gc-chckbxrdio</code> doit être présent dans l'élément parent de la case à cocher avec la classe <code>checkbox</code>.</li>
	<li><strong>Pour ajouter un état de désactivation</strong>, ajouter un attribut <code>disabled</code> à la zone d’entrée.</li>
	<li><strong>Pour le format horizontal</strong>, ajouter la classe <code>form-inline</code> à l'élément qui contient l'ensemble des cases à cocher ou des boutons radio. Aussi ajouter la classe <code>label-inline</code> à chaque élément parent de case à cocher ou de bouton radio.</li>
</ul>

<h2>Exemples pratiques</h2>
<ul>
	<li><a href="gc-chckbxrdio-fr.html">Exemples&nbsp;: Cases à cocher et boutons radio</a></li>
</ul>

<h2>Évaluation et rapport</h2>
<p>Il n'y a pas d'évaluation et de rapport disponible pour ce composant.</p>

<h2>API (Version 1.0.1)</h2>
<table class="table table-bordered">
	<tr>
		<th>Classe CSS</th>
		<th>Gabarit</th>
		<th>Rendu visuel</th>
		<th>Schema</th>
	</tr>
	<tr>
		<td>Version 1.0</td>
		<td>Version 1.0</td>
		<td>Version 1.0.1</td>
		<td>s.o.</td>
	</tr>
</table>
<h3>Classe CSS (v1.0)</h3>
<dl class="dl-horizontal">
	<dt><code>gc-chckbxrdio</code></dt>
	<dd>Composant&nbsp;: Cases à cocher et boutons radio</dd>
</dl>
<details>
	<summary>Notes sur les versions</summary>
	<dl class="dl-horizontal">
		<dt>Version 1.0 (v8.0)</dt>
		<dd>
			<ul>
				<li>Crée&nbsp;: <code>.gc-chckbxrdio</code></li>
			</ul>
		</dd>
	</dl>
</details>
<h3>Gabarit (v1.0)</h3>
<p>Notes:</p>
<ul>
	<li>Ne peut être utilisé qu'avec des étiquettes explicites. Si vous devez utiliser une étiquette implicite, reportez-vous au modèle régulier de la WET-BOEW pour les cases à cocher et les boutons radio.</li>
</ul>
<h4>Base&nbsp;: <code>.gc-chckbxrdio</code></h4>
<pre><code>&lt;fieldset class="gc-chckbxrdio"&gt;
	&lt;legend&gt;API&lt;/legend&gt;
	&lt;ul class="list-unstyled lst-spcd-2"&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="gabarit"&gt;
			&lt;label for="gabarit"&gt;Gabarit&lt;/label&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/fieldset&gt;</code></pre>

<h4>Variation&nbsp;: Tickbox (<code>.checkbox.gc-chckbxrdio</code>)</h4>
<pre class="mrgn-tp-md"><code>&lt;div class="checkbox gc-chckbxrdio"&gt;
	&lt;input id="gabarit" type="checkbox"/&gt;
	&lt;label for="gabarit"&gt;Gabarit&lt;/label&gt;
&lt;/div&gt;</code></pre>

<h3>Rendu visuel (v1.0.1)</h3>
<h4>Base</h4>
<dl>
	<dt>Cases à cocher et boutons radio</dt>
	<dd>
		<ul>
			<li>La largeur et hauteur sont exactement 36 pixels en excluant les bordures;</li>
			<li>Les bordures paraissent relativement épaisses (2 pixels) leurs couleur est noir (#000);</li>
			<li>Il y a un espace blanche (#fff) de 4 pixels entre les bordures et la zone de survol;</li>
			<li>Lorsque survolé, léger fond d'écran en dégradé (#e6e5e5 vers #fff sur l'axe des Y);</li>
			<li>Lors du focus par clavier, aura distingué bleu (#3b99fc) autour du input;</li>
			<li>Lorsque désactivé, opacité est baissé à 50%, apparaissant gris.</li>
		</ul>
	</dd>
	<dt>Cases à cocher seulement</dt>
	<dd>
		<ul>
			<li>Lorsque sélectionné, crochet de 5 pixels d'épais touchent parfaitement les contours de la zone de survol.</li>
		</ul>
	</dd>
	<dt>Boutons radio seulement</dt>
	<dd>
		<ul>
			<li>Le radius des coin est à 50&nbsp;%, ce qui les rend ronds;</li>
			<li>Lorsque sélectionné, point gris (#444) recouvre l'entièreté de la zone de survol.</li>
		</ul>
	</dd>
</dl>

<h4 lang="en">Tickbox</h4>
<dl>
	<dt>Cases à cocher et boutons radio</dt>
	<dd>
		<ul>
			<li>La largeur et hauteur sont exactement 24 pixels en excluant les bordures.</li>
		</ul>
	</dd>
</dl>
<details>
	<summary>Notes sur les versions</summary>
	<dl class="dl-horizontal">
		<dt>Version 1.0.1</dt>
		<dd>
			<ul>
				<li>Support de la fonctionnalité de contraste élevé pour les boutons radios. Note: la fonctionnalité de contraste élevé n'est pas considérée comme comportement essentiel de la composante (n'est pas inclut dans l'API).</li>
				<li>Les boutons radios et cases à cocher invisibles sont maintenant accessibles via Dragon Naturally Speak.</li>
			</ul>
		</dd>
		<dt>Version 1.0</dt>
		<dd>
			<ul>
				<li>Rendu original</li>
			</ul>
		</dd>
	</dl>
</details>

<section class="pagedetails">
	<h2 class="wb-inv">Détails de la page</h2><dl id="wb-dtmd">
	<dt>Date de modification&#160;:</dt>
	<dd><time property="dateModified">2021-05-07</time></dd>
</dl>
</section>

</main>
<footer id="wb-info">
	<h2 class="wb-inv">À propos de ce site</h2>


	<div class="gc-main-footer">
		<div class="container">
			<nav>
				<h3>Gouvernement du Canada</h3>
				<ul class="list-col-xs-1 list-col-sm-2 list-col-md-3"><li><a href="https://www.canada.ca/fr/contact.html">Toutes les coordonnées</a></li>
					<li><a href="https://www.canada.ca/fr/gouvernement/min.html">Ministères et organismes</a></li>
					<li><a href="https://www.canada.ca/fr/gouvernement/systeme.html">À propos du gouvernement</a></li></ul>
				<h4><span class="wb-inv">Thèmes et sujets</span></h4>
				<ul class="list-unstyled colcount-sm-2 colcount-md-3"><li><a href="https://www.canada.ca/fr/services/emplois.html">Emplois</a></li>
					<li><a href="https://www.canada.ca/fr/services/immigration-citoyennete.html">Immigration et citoyenneté</a></li>
					<li><a href="https://voyage.gc.ca/">Voyage et tourisme</a></li>
					<li><a href="https://www.canada.ca/fr/services/entreprises.html">Entreprises</a></li>
					<li><a href="https://www.canada.ca/fr/services/prestations.html">Prestations</a></li>
					<li><a href="https://www.canada.ca/fr/services/sante.html">Santé</a></li>
					<li><a href="https://www.canada.ca/fr/services/impots.html">Impôts</a></li>
					<li><a href="https://www.canada.ca/fr/services/environnement.html">Environnement et ressources naturelles</a></li>
					<li><a href="https://www.canada.ca/fr/services/defense.html">Sécurité nationale et défense</a></li>
					<li><a href="https://www.canada.ca/fr/services/culture.html">Culture, histoire et sport</a></li>
					<li><a href="https://www.canada.ca/fr/services/police.html">Services de police, justice et urgences</a></li>
					<li><a href="https://www.canada.ca/fr/services/transport.html">Transport et infrastructure</a></li>
					<li><a href="https://www.international.gc.ca/world-monde/index.aspx?lang=fra">Le Canada et le monde</a></li>
					<li><a href="https://www.canada.ca/fr/services/finance.html">Argent et finances</a></li>
					<li><a href="https://www.canada.ca/fr/services/science.html">Science et innovation</a></li>
					<li><a href="https://www.canada.ca/fr/services/autochtones.html">Autochtones</a></li>
					<li><a href="https://www.canada.ca/fr/services/veterans-militaire.html">Vétérans et militaires</a></li>
					<li><a href="https://www.canada.ca/fr/services/jeunesse.html">Jeunesse</a></li>
					<li><a href="https://www.canada.ca/fr/services/evenements-vie.html">Gérer les événements de la vie</a></li></ul>
			</nav>
		</div>
	</div>

	<div class="gc-sub-footer">
		<div class="container d-flex align-items-center">
			<nav>
				<h3 class="wb-inv">Organisation du gouvernement du Canada</h3>
				<ul>
					<li><a href="https://www.canada.ca/fr/sociaux.html">Médias sociaux</a></li>
					<li><a href="https://www.canada.ca/fr/mobile.html">Applications mobiles</a></li>
					<li><a href="https://canada.ca/fr/gouvernement/a-propos-canada-ca.html">À propos de Canada.ca</a></li><li><a href="https://www.canada.ca/fr/transparence/avis.html">Avis</a></li>
					<li><a href="https://www.canada.ca/fr/transparence/confidentialite.html">Confidentialité</a></li></ul>
			</nav>
			<div class="wtrmrk align-self-end">
				<img src="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/wmms-blk.svg" alt="Symbole du gouvernement du Canada" />
			</div>
		</div>
	</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
<script src="/wet-boew-demos/gcweb-pr2725/dist/wet-boew/js/wet-boew.js"></script>
<script src="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/js/theme.js"></script>
</body>
</html>
