[submodule "gcweb-pr2685"]
	path = gcweb-pr2685
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2685
[submodule "gcweb-pr2708"]
	path = gcweb-pr2708
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2708
[submodule "gcweb-pr2713"]
	path = gcweb-pr2713
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2713
[submodule "gcweb-pr2714"]
	path = gcweb-pr2714
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2714
[submodule "csv-tables"]
	path = csv-tables
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = csv-tables
[submodule "gcweb-pr2718"]
	path = gcweb-pr2718
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2718
[submodule "gcweb-pr2719"]
	path = gcweb-pr2719
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2719
[submodule "gcweb-pr2725"]
	path = gcweb-pr2725
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2725
[submodule "wet-boew-pr10092"]
	path = wet-boew-pr10092
	url = https://github.com/tristandasilva/wet-boew-demos.git
	branch = wet-boew-pr10092
