[submodule "gcweb-pr2614"]
	path = gcweb-pr2614
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2614
[submodule "gcweb-pr2654"]
	path = gcweb-pr2654
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2654
[submodule "gcweb-pr2665"]
	path = gcweb-pr2665
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2665
[submodule "gcweb-pr2672"]
	path = gcweb-pr2672
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2672
[submodule "gcweb-pr2673"]
	path = gcweb-pr2673
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2673
[submodule "gcweb-pr2674"]
	path = gcweb-pr2674
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2674
[submodule "gcweb-pr2677"]
	path = gcweb-pr2677
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2677
[submodule "gcweb-pr2681"]
	path = gcweb-pr2681
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2681
[submodule "gcweb-pr2685"]
	path = gcweb-pr2685
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2685
[submodule "gcweb-pr2687"]
	path = gcweb-pr2687
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2687
[submodule "gcweb-pr2689"]
	path = gcweb-pr2689
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2689
[submodule "gcweb-pr2693"]
	path = gcweb-pr2693
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2693
[submodule "gcweb-pr2692"]
	path = gcweb-pr2692
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2692
[submodule "gcweb-pr2694"]
	path = gcweb-pr2694
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2694
[submodule "gcweb-pr2702"]
	path = gcweb-pr2702
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2702
[submodule "gcweb-pr2705"]
	path = gcweb-pr2705
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2705
[submodule "gcweb-pr2708"]
	path = gcweb-pr2708
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2708
[submodule "gcweb-pr2713"]
	path = gcweb-pr2713
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2713
[submodule "gcweb-pr2714"]
	path = gcweb-pr2714
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2714
[submodule "csv-tables"]
	path = csv-tables
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = csv-tables
[submodule "gcweb-pr2718"]
	path = gcweb-pr2718
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2718
[submodule "gcweb-pr2719"]
	path = gcweb-pr2719
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2719
[submodule "gcweb-pr2725"]
	path = gcweb-pr2725
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2725
[submodule "wet-boew-pr10092"]
	path = wet-boew-pr10092
	url = https://github.com/tristandasilva/wet-boew-demos.git
	branch = wet-boew-pr10092
