<!DOCTYPE html>
<html class="no-js" lang="fr" dir="ltr">

<head>
	<meta charset="utf-8">
	<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->

	<title>Page d'application avec bannière informative - Canada.ca</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta name="description" content=" ">
<meta name="author" content=" ">
<meta name="dcterms.title" content="Page d'application avec bannière informative">
<meta name="dcterms.description" content=" ">
<meta name="dcterms.creator" content=" ">
<meta name="dcterms.language" content="fra">
<meta name="dcterms.subject" content="">
<meta name="dcterms.issued" content="">
<meta name="dcterms.modified" content="2023-10-13">

	

<link href="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/css/theme.css" />
<noscript><link rel="stylesheet" href="/wet-boew-demos/gcweb-pr2725/dist/wet-boew/css/noscript.css" /></noscript>
</head>

<body vocab="http://schema.org/" typeof="WebPage">
	<nav>
	<ul id="wb-tphp">
		<li class="wb-slc"><a class="wb-sl" href="#wb-cont">Passer au contenu principal</a></li>
		<li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Passer à «&#160;À propos de ce site&#160;»</a></li></ul>
</nav>
<section class="info-banner">
		<div class="container">
			<h2>Version bêta</h2>
			<p>Nous avons apporté quelques changements pour améliorer votre expérience avec Mon dossier Service Canada.</p>
			<div class="info-banner-actions"><a href="https://www.canada.ca/fr">En savoir plus sur la version bêta<span class="glyphicon glyphicon-share mrgn-lft-md"></span></a><a class="btn btn-primary" href="https://www.canada.ca/fr">Essayez la version bêta</a></div>
		</div>
	</section><header>
	<div id="wb-bnr" class="container">
		<div class="row">
			
				<section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
	<h2 class="wb-inv">Sélection de la langue</h2>
	<ul class="list-inline mrgn-bttm-0">
		<li>
			<a lang="en" hreflang="en" href="application-with-banner-en.html">
				<span class="hidden-xs" translate="no">English</span>
				<abbr title="English" translate="no" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">en</abbr>
			</a>
		</li>
	</ul>
</section>

			
			<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
	<a href="https://wet-boew.github.io/GCWeb/" property="url">
		<img src="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/sig-blk-fr.svg" alt="Gouvernement du Canada" property="logo" /><span class="wb-inv"> / <span lang="en">Government of Canada</span></span>
	</a>
	<meta property="name" content="Gouvernement du Canada">
	<meta property="areaServed" typeof="Country" content="Canada" />
	<link property="logo" href="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/wmms-blk.svg" />
</div>

			
		</div>
	</div>
	
	

</header>
<section class="application-bar">
		<div class="container">
			<h2><a href="#">Mon application</a></h2>
		</div>
	</section><main class="container" property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
		<h1 id="wb-cont" property="name">Page d'application avec bannière informative</h1>
		<div class="alert alert-info">
	<p>Veuillez noter que la présente page web représente une contribution communautaire et qu'elle <strong>ne bénéficie pas</strong> de la validation ni de l'approbation formelle du Bureau de la transformation numérique comparativement à une conception officielle. Il est à souligner que cette contribution ne va pas à l'encontre d'une version officielle publiée au moment de l'ajout. Si une conception officielle équivalente est élaborée et soit formellement publiée, il est possible que la conception démontrée sur la présente page en diffère en partie ou en totalité.</p>

	<p>Cette conception est <strong>stable</strong> et par conséquent elle bénéficie des mêmes avantages que toutes autres fonctionnalités et conceptions stables telles que définies par <a href="https://wet-boew.github.io/wet-boew-documentation/decision/14.html" hreflang="en">l'ébauche de l'API publique de version de GCWeb</a>.</p></div>

<h2>Options de configuration (spécifique à GCWeb Jekyll)</h2>
<ul>
	<li><code>"infoBanner"</code> (optionnel, <code>Object</code>): contient les propriétés de la bannière d'information.
		<ul>
			<li><code>"title"</code> (obligatoire): le titre de la bannière.</li>
			<li><code>"message"</code> (obligatoire): le message de la bannière.</li>
			<li><code>"link"</code> (optionnel, <code>Object</code>): contient les propriétés du lien.
				<ul>
					<li><code>"text"</code> (obligatoire, <code>String</code>): le texte du lien qui s'affiche.</li>
					<li><code>"href"</code> (obligatoire, <code>String</code>): l'url du lien qui s'affiche.</li>
					<li><code>"external"</code> (optionnel, <code>Boolean</code>): ouvrir le lien dans une nouvelle fenêtre.</li>
				</ul>
			</li>
			<li><code>"button"</code>(optionnel, <code>Object</code>): contient les propriétés du bouton.
				<ul>
					<li><code>"text"</code> (obligatoire, <code>String</code>): le texte du bouton qui s'affiche.</li>
					<li><code>"href"</code> (obligatoire, <code>String</code>): l'url du bouton qui s'affiche.</li>
					<li><code>"external"</code> (optionnel, <code>Boolean</code>): ouvrir le lien dans une nouvelle fenêtre.</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>

<h3>Code</h3>
<pre class="wb-prettify prettyprint"><code>{
	...
	"infoBanner": {
		"title": "Version bêta",
		"message": "&lt;strong>Beta version&lt;/strong>: We've made some changes to improve your experience with My Service Canada Account.",
		"link": {
			"text": "Learn more about the beta version",
			"href": "https://www.canada.ca/en",
			"external": true
		},
		"button": {
			"text": "Try beta version",
			"href": "https://www.canada.ca/en"
		}
	}
	...
}</code></pre>

		<section class="pagedetails">
	<h2 class="wb-inv">Détails de la page</h2><dl id="wb-dtmd">
	<dt>Date de modification&#160;:</dt>
	<dd><time property="dateModified">2023-10-13</time></dd>
</dl>
</section>

	</main>

	<footer id="wb-info">
	<h2 class="wb-inv">À propos de ce site</h2>


	<div class="gc-sub-footer">
		<div class="container d-flex align-items-center">
			<nav>
				<h3 class="wb-inv">Organisation du gouvernement du Canada</h3>
				<ul>
					<li><a href="https://www.canada.ca/fr/transparence/avis.html">Avis</a></li>
					<li><a href="https://www.canada.ca/fr/transparence/confidentialite.html">Confidentialité</a></li></ul>
			</nav>
			<div class="wtrmrk align-self-end">
				<img src="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/wmms-blk.svg" alt="Symbole du gouvernement du Canada" />
			</div>
		</div>
	</div>
</footer>
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
<script src="/wet-boew-demos/gcweb-pr2725/dist/wet-boew/js/wet-boew.js"></script>
<script src="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/js/theme.js"></script>
</body>

</html>
