<!DOCTYPE html>
<html class="no-js" lang="fr" dir="ltr">
<head>
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->

<title>Government of Canada services - Canada.ca</title>
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="description" content=" ">
<meta name="author" content=" ">
<meta name="dcterms.title" content="Government of Canada services">
<meta name="dcterms.description" content=" ">
<meta name="dcterms.creator" content=" ">
<meta name="dcterms.language" content="fra">
<meta name="dcterms.subject" content="">
<meta name="dcterms.issued" content="">
<meta name="dcterms.modified" content="2025-08-29">



<link href="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/css/theme.css" />
<noscript><link rel="stylesheet" href="/wet-boew-demos/gcweb-pr2725/dist/wet-boew/css/noscript.css" /></noscript><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
</head>
<body vocab="http://schema.org/" typeof="WebPage"><nav>
	<ul id="wb-tphp">
		<li class="wb-slc"><a class="wb-sl" href="#wb-cont">Passer au contenu principal</a></li>
		<li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Passer à «&#160;À propos de ce site&#160;»</a></li></ul>
</nav>

<header>
	<div id="wb-bnr" class="container">
		<div class="row">
			
				<section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
	<h2 class="wb-inv">Sélection de la langue</h2>
	<ul class="list-inline mrgn-bttm-0">
		<li>
			<a lang="en" hreflang="en" href="all-services-en.html">
				<span class="hidden-xs" translate="no">English</span>
				<abbr title="English" translate="no" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">en</abbr>
			</a>
		</li>
	</ul>
</section>

			
			<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
	<a href="https://wet-boew.github.io/GCWeb/" property="url">
		<img src="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/sig-blk-fr.svg" alt="Gouvernement du Canada" property="logo" /><span class="wb-inv"> / <span lang="en">Government of Canada</span></span>
	</a>
	<meta property="name" content="Gouvernement du Canada">
	<meta property="areaServed" typeof="Country" content="Canada" />
	<link property="logo" href="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/wmms-blk.svg" />
</div>

			
				
<section id="wb-srch" class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-12 col-sm-5 col-md-4">
	<h2>Recherche</h2>
	<form action="https://www.canada.ca/fr/sr/srb.html" method="get" name="cse-search-box" role="search">
		<div class="form-group wb-srch-qry">
			<label for="wb-srch-q" class="wb-inv">Rechercher dans Canada.ca</label>
			<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Rechercher dans Canada.ca" />
			<datalist id="wb-srch-q-ac"></datalist>
		</div>
		<div class="form-group submit">
			<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub">
				<span class="glyphicon-search glyphicon"></span>
				<span class="wb-inv">Recherche</span>
			</button>
		</div>
	</form>
</section>

			
		</div>
	</div>
	
	
	<hr>
	
	<div class="container">
		<div class="row"><div class="col-md-8">
					<nav class="gcweb-menu" typeof="SiteNavigationElement">
	<h2 class="wb-inv">Menu</h2>
	<button type="button" aria-haspopup="true" aria-expanded="false">Menu<span class="wb-inv"> principal</span> <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
	<ul role="menu" aria-orientation="vertical" data-ajax-replace="https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-fr.html"><li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/emplois.html">Emplois et milieu de travail</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/immigration-citoyennete.html">Immigration et citoyenneté</a></li>
		<li role="presentation"><a role="menuitem" href="https://voyage.gc.ca/">Voyage et tourisme</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/entreprises.html">Entreprises et industrie</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/prestations.html">Prestations</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/sante.html">Santé</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/impots.html">Impôts</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/environnement.html">Environnement et ressources naturelles</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/defense.html">Sécurité nationale et défense</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/culture.html">Culture, histoire et sport</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/police.html">Services de police, justice et urgences</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/transport.html">Transport et infrastructure</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.international.gc.ca/world-monde/index.aspx?lang=fra">Canada et le monde</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/finance.html">Argent et finances</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/science.html">Science et innovation</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/evenements-vie.html">Gérer les événements de la vie</a></li></ul>
</nav>

				</div></div>
	</div>
	
	<nav id="wb-bc" property="breadcrumb">
	<h2>Vous êtes ici :</h2>
	<div class="container">
		<ol class="breadcrumb" typeof="BreadcrumbList">
			<li property="itemListElement" typeof="ListItem">
				<a property="item" typeof="WebPage" href="https://www.canada.ca/fr.html">
					<span property="name">Canada.ca</span>
				</a>
				<meta property="position" content="1">
			</li>
			
							<li property="itemListElement" typeof="ListItem">
								<a property="item" typeof="WebPage" href="/wet-boew-demos/gcweb-pr2725/index-fr.html">
									<span property="name">GCWeb</span>
								</a>
								<meta property="position" content="2">
							</li>
							
		</ol>
	</div>
</nav>


</header>

<main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
<!-- This page template is limited to the "All services" page on Canada.ca. For this reason, we are using utility classes instead of embedding the styles in this template. -->

<div class="container">
	<h1 id="wb-cont">Services du government du Canada</h1>
	<a href="#all-topics" class="wb-sl">Passer à Accéder aux services par thème</a>
</div>

<section class="bg-light mt-3 pb-3">
	<div class="container">
		<h2 class="h3 mb-4">Recherches les plus populaires</h2>
		<ul class="list-unstyled colcount-md-3 colcount-no-break compact bold-content lst-spcd-2 fnt-hdng">
			<li><a href="https://www.canada.ca/fr/services/prestations/dentaire/regime-soins-dentaires.html">Régime canadien de soins dentaires</a></li>
			<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/passeports-canadiens.html">Passeports</a></li>
			<li><a href="https://www.canada.ca/fr/services/prestations/ae.html">Assurance-emploi et congés</a></li>
			<li><a href="https://www.canada.ca/fr/emploi-developpement-social/services/numero-assurance-sociale.html">Numéro d'assurance sociale (<abbr>NAS</abbr>)</a></li>
			<li><a href="https://www.canada.ca/fr/services/prestations/pensionspubliques.html">Pensions publiques (<abbr title="Régime de pensions du Canada">RPC</abbr>, <abbr title="Sécurité de la vieillesse">SV</abbr>, <abbr title="Supplément de revenu garanti">SRG</abbr>)</a></li>
			<li><a href="https://www.canada.ca/fr/emploi-developpement-social/services/mon-dossier/trouvez-code.html">Code d’accès personnel (<abbr>CAP</abbr>) pour Mon dossier Service Canada</a></li>
			<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/visiter-canada/ave.html">Autorisation de voyage électronique (<abbr>AVE</abbr>)</a></li>
			<li><a href="https://www.canada.ca/fr/emploi-developpement-social/programmes/assurance-emploi/ae-liste/assurance-emploi-re.html">Relevé d’emploi (<abbr>RE</abbr>)</a></li>
		</ul>
	</div>
</section>

<section class="pb-3">
	<div class="container">
		<h2 class="h3 mb-4">Services les plus demandés</h2>
		<ul class="list-unstyled colcount-md-3 colcount-no-break compact bold-content lst-spcd-2 fnt-hdng">
			<li><a href="https://www.canada.ca/fr/gouvernement/ouvrir-session-dossier-compte-en-ligne.html">Se connecter à un compte</a></li>
			<li><a href="https://www.canada.ca/fr/gouvernement/changement-adresse.html">Changement d'adresse</a></li>
			<li><a href="https://www.tpsgc-pwgsc.gc.ca/recgen/txt/depot-deposit-fra.html">S'inscrire ou modifier vos informations de dépôt direct</a></li>
			<li><a href="https://www.canada.ca/fr/gouvernement/subventions-financement.html">Trouver des subventions et du financement</a></li>
			<li><a href="https://www.canada.ca/fr/services/emplois/opportunites.html">Trouver un emploi</a></li>
			<li><a href="https://apps.cra-arc.gc.ca/ebci/rhpd/beta/entry">Calculateur en direct de retenues sur la paie</a></li>
		</ul>
	</div>
</section>

<section class="bg-light pb-3">
	<div class="container">
		<h2 class="h3 mb-4">Gérer les événements de la vie</h2>
		<ul class="list-unstyled colcount-md-3 colcount-no-break compact bold-content lst-spcd-2 fnt-hdng">
			<li><a href="https://www.canada.ca/fr/services/evenements-vie/enfant.html">Accueillir un enfant</a></li>
			<li><a href="https://www.canada.ca/fr/services/retraite.html">Apprendre et planifier pour votre retraite</a></li>
			<li><a href="https://www.canada.ca/fr/services/evenements-vie/deces.html">Que faire lors d'un décès</a></li>
		</ul>
	</div>
</section>

<div class="container">
	<h1 id="all-topics" class="mt-4">Accéder aux services par thème</h1>
	<section class="gc-srvinfo">
		<h2 class="wb-inv">Liste des thèmes</h2>
		<div class="wb-eqht-grd row">
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/emplois.html">Emplois</a></h3>
				<p>Trouver un emploi, formation, programmes d'embauche, permis de travail, numéro d'assurance sociale (<abbr title="Numero d'Assurance Social">NAS</abbr>)</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/immigration-citoyennete.html">Immigration et citoyenneté</a></h3>
				<p>Visiter, travailler, étudier, immigrer, réfugiés, résidents permanents, présenter une demande, vérifier l'état de la demande</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://voyage.gc.ca/">Voyage et tourisme</a></h3>
				<p>Au Canada ou à l'étranger, conseils, avis, passeports, visiter le Canada, événements, attractions</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/entreprises.html">Entreprises et industrie</a></h3>
				<p>Démarrer une entreprise, permis, propriété intellectuelle, soutien aux entreprises, vendre au gouvernement</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/prestations.html">Prestations</a></h3>
				<p>Assurance Emploi, congés familiaux et congés de maladie, allocation pour enfants, pensions, logement, aide financière aux études, personnes invalides, à la suite d’un décès</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/sante.html">Santé</a></h3>
				<p>Alimentation, nutrition, maladies, vaccins, médicaments, sécurité des produits et rappels</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/impots.html">Impôts</a></h3>
				<p>Impôt sur le revenu, TPS/TVH, limites de contribution, credits d’impôt, organismes de charité</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/environnement.html">Environnement et ressources naturelles</a></h3>
				<p>Météo, climat, agriculture, faune, pollution, conservation, pêches</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/defense.html">Sécurité nationale et défense</a></h3>
				<p>Opérations militaires. Protection et défense du Canada, de ses citoyens et de ses infrastructures. Sécurité des frontières, des transports et du cyberespace.</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/culture.html">Culture, histoire et sport</a></h3>
				<p>Arts, médias, patrimoine, langues officielles, identité nationale et financement</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/police.htmlSécurité">Services de police, justice et urgences</a></h3>
				<p>Justice, se préparer en cas d'urgence, services aux victimes d'actes criminels</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/transport.html">Transport et infrastructure</a></h3>
				<p>Aviation, transport maritime, routier et ferroviaire, rappels de sièges d'auto et de véhicules</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.international.gc.ca/world-monde/index.aspx?lang=fra">Le Canada et le monde</a></h3>
				<p>Politique étrangère, ententes commerciales, développement international, enjeux mondiaux</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/finance.html">Argent et finances</a></h3>
				<p>Finances personnelles, dossiers de crédit, se protéger de la fraude, financer votre éducation, logement</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="">Science et innovation</a></h3>
				<p>Recherche scientifique sur la santé, l'environnement et l'espace, subventions et financement</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/evenements-vie.html">Gérer les événements de la vie</a></h3>
				<p>Prestations et ressources pour vous aider à franchir les étapes les plus importantes de la vie</p>
			</div>
		</div>
	</section>
	<section class="gc-srvinfo">
		<h2>En relief</h2>
		<div class="wb-eqht-grd row">
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/autochtones.html">Autochtones</a></h3>
				<p>Programs and services for First Nations, Inuit and Métis</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/veterans-militaire.html">Vétérans et militaires</a></h3>
				<p>Services pour les membres actifs et retraités des Forces armées canadiennes ou de la GRC et leurs familles</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/jeunesse.html">Jeunesse</a></h3>
				<p>Programmes et services pour adolescents et jeunes adultes</p>
			</div>
		</div>
	</section>
</div>

<section class="pagedetails container">
	<h2 class="wb-inv">Détails de la page</h2><dl id="wb-dtmd">
	<dt>Date de modification&#160;:</dt>
	<dd><time property="dateModified">2025-08-29</time></dd>
</dl>
</section>

</main>

<footer id="wb-info">
	<h2 class="wb-inv">À propos de ce site</h2>


	<div class="gc-main-footer">
		<div class="container">
			<nav>
				<h3>Gouvernement du Canada</h3>
				<ul class="list-col-xs-1 list-col-sm-2 list-col-md-3"><li><a href="https://www.canada.ca/fr/contact.html">Toutes les coordonnées</a></li>
					<li><a href="https://www.canada.ca/fr/gouvernement/min.html">Ministères et organismes</a></li>
					<li><a href="https://www.canada.ca/fr/gouvernement/systeme.html">À propos du gouvernement</a></li></ul>
				<h4><span class="wb-inv">Thèmes et sujets</span></h4>
				<ul class="list-unstyled colcount-sm-2 colcount-md-3"><li><a href="https://www.canada.ca/fr/services/emplois.html">Emplois</a></li>
					<li><a href="https://www.canada.ca/fr/services/immigration-citoyennete.html">Immigration et citoyenneté</a></li>
					<li><a href="https://voyage.gc.ca/">Voyage et tourisme</a></li>
					<li><a href="https://www.canada.ca/fr/services/entreprises.html">Entreprises</a></li>
					<li><a href="https://www.canada.ca/fr/services/prestations.html">Prestations</a></li>
					<li><a href="https://www.canada.ca/fr/services/sante.html">Santé</a></li>
					<li><a href="https://www.canada.ca/fr/services/impots.html">Impôts</a></li>
					<li><a href="https://www.canada.ca/fr/services/environnement.html">Environnement et ressources naturelles</a></li>
					<li><a href="https://www.canada.ca/fr/services/defense.html">Sécurité nationale et défense</a></li>
					<li><a href="https://www.canada.ca/fr/services/culture.html">Culture, histoire et sport</a></li>
					<li><a href="https://www.canada.ca/fr/services/police.html">Services de police, justice et urgences</a></li>
					<li><a href="https://www.canada.ca/fr/services/transport.html">Transport et infrastructure</a></li>
					<li><a href="https://www.international.gc.ca/world-monde/index.aspx?lang=fra">Le Canada et le monde</a></li>
					<li><a href="https://www.canada.ca/fr/services/finance.html">Argent et finances</a></li>
					<li><a href="https://www.canada.ca/fr/services/science.html">Science et innovation</a></li>
					<li><a href="https://www.canada.ca/fr/services/autochtones.html">Autochtones</a></li>
					<li><a href="https://www.canada.ca/fr/services/veterans-militaire.html">Vétérans et militaires</a></li>
					<li><a href="https://www.canada.ca/fr/services/jeunesse.html">Jeunesse</a></li>
					<li><a href="https://www.canada.ca/fr/services/evenements-vie.html">Gérer les événements de la vie</a></li></ul>
			</nav>
		</div>
	</div>

	<div class="gc-sub-footer">
		<div class="container d-flex align-items-center">
			<nav>
				<h3 class="wb-inv">Organisation du gouvernement du Canada</h3>
				<ul>
					<li><a href="https://www.canada.ca/fr/sociaux.html">Médias sociaux</a></li>
					<li><a href="https://www.canada.ca/fr/mobile.html">Applications mobiles</a></li>
					<li><a href="https://canada.ca/fr/gouvernement/a-propos-canada-ca.html">À propos de Canada.ca</a></li><li><a href="https://www.canada.ca/fr/transparence/avis.html">Avis</a></li>
					<li><a href="https://www.canada.ca/fr/transparence/confidentialite.html">Confidentialité</a></li></ul>
			</nav>
			<div class="wtrmrk align-self-end">
				<img src="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/wmms-blk.svg" alt="Symbole du gouvernement du Canada" />
			</div>
		</div>
	</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
<script src="/wet-boew-demos/gcweb-pr2725/dist/wet-boew/js/wet-boew.js"></script>
<script src="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/js/theme.js"></script>
</body>
</html>
