<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->

<title>Do action - JSON - Canada.ca</title>
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="description" content="Execute JSON loading and patching action through the JSON manager">
<meta name="author" content=" ">
<meta name="dcterms.title" content="Do action - JSON">
<meta name="dcterms.description" content="Execute JSON loading and patching action through the JSON manager">
<meta name="dcterms.creator" content=" ">
<meta name="dcterms.language" content="eng">
<meta name="dcterms.subject" content="">
<meta name="dcterms.issued" content="">
<meta name="dcterms.modified" content="2019-09-05">



<link href="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/css/theme.css" />
<noscript><link rel="stylesheet" href="/wet-boew-demos/gcweb-pr2725/dist/wet-boew/css/noscript.css" /></noscript>
</head>
<body vocab="http://schema.org/" typeof="WebPage"><nav>
	<ul id="wb-tphp">
		<li class="wb-slc"><a class="wb-sl" href="#wb-cont">Skip to main content</a></li>
		<li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Skip to About this site</a></li></ul>
</nav>

<header>
	<div id="wb-bnr" class="container">
		<div class="row">
			
				<section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
	<h2 class="wb-inv">Language selection</h2>
	<ul class="list-inline mrgn-bttm-0">
		<li>
			<a lang="fr" hreflang="fr" href="json-fr.html">
				<span class="hidden-xs" translate="no">Français</span>
				<abbr title="Français" translate="no" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">fr</abbr>
			</a>
		</li>
	</ul>
</section>

			
			<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
	<a href="https://wet-boew.github.io/GCWeb/" property="url">
		<img src="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/sig-blk-en.svg" alt="Government of Canada" property="logo" /><span class="wb-inv"> / <span lang="fr">Gouvernement du Canada</span></span>
	</a>
	<meta property="name" content="Government of Canada">
	<meta property="areaServed" typeof="Country" content="Canada" />
	<link property="logo" href="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/wmms-blk.svg" />
</div>

			
				
<section id="wb-srch" class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-12 col-sm-5 col-md-4">
	<h2>Search</h2>
	<form action="https://www.canada.ca/en/sr/srb.html" method="get" name="cse-search-box" role="search">
		<div class="form-group wb-srch-qry">
			<label for="wb-srch-q" class="wb-inv">Search Canada.ca</label>
			<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Search Canada.ca" />
			<datalist id="wb-srch-q-ac"></datalist>
		</div>
		<div class="form-group submit">
			<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub">
				<span class="glyphicon-search glyphicon"></span>
				<span class="wb-inv">Search</span>
			</button>
		</div>
	</form>
</section>

			
		</div>
	</div>
	
	
	<hr>
	
	<div class="container">
		<div class="row"><div class="col-md-8">
					<nav class="gcweb-menu" typeof="SiteNavigationElement">
	<h2 class="wb-inv">Menu</h2>
	<button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
	<ul role="menu" aria-orientation="vertical" data-ajax-replace="https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-en.html"><li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs.html">Jobs and the workplace</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
		<li role="presentation"><a role="menuitem" href="https://travel.gc.ca/">Travel and tourism</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/business.html">Business and industry</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/health.html">Health</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/life-events.html">Manage life events</a></li></ul>
</nav>

				</div></div>
	</div>
	
	<nav id="wb-bc" property="breadcrumb">
	<h2>You are here:</h2>
	<div class="container">
		<ol class="breadcrumb" typeof="BreadcrumbList">
			<li property="itemListElement" typeof="ListItem">
				<a property="item" typeof="WebPage" href="https://www.canada.ca/en.html">
					<span property="name">Canada.ca</span>
				</a>
				<meta property="position" content="1">
			</li>
			
							<li property="itemListElement" typeof="ListItem">
								<a property="item" typeof="WebPage" href="/wet-boew-demos/gcweb-pr2725/index-en.html">
									<span property="name">GCWeb</span>
								</a>
								<meta property="position" content="2">
							</li>
							
		</ol>
	</div>
</nav>


</header>

<main class="container" property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement"><h1 property="name" id="wb-cont">Do action - JSON</h1>
<p>This plugin is used in conjunction with the JSON-Manager and the Data-JSON. Documentation on how to apply the patch is documented in the JSON manager and in the URL mapping patching.</p>
<h2>Load a JSON file on demand</h2>
<p>Load JSON files:</p>
<ul>
<li><button class="btn" type="button" data-wb-doaction='{ "action": "loadJSON", "source": "#testLoader", "url": "demo/file-1.json" }'>JSON file 1</button></li>
<li><button class="btn" type="button" data-wb-doaction='{ "action": "loadJSON", "source": "#testLoader", "url": "demo/file-2.json" }'>JSON file 2</button></li>
<li><button class="btn" type="button" data-wb-doaction='{ "action": "loadJSON", "source": "#testLoader", "url": "demo/file-3.json" }'>JSON file 3</button></li>
<li><button class="btn" type="button" data-wb-doaction='{ "action": "loadJSON", "source": "#testLoader", "url": "demo/file-4.json" }'>JSON file 4</button></li>
</ul>

<div id="testLoader" data-wb-jsonmanager='{
		"url": "demo/empty.json",
		"name": "jmanager"
	}'></div>
<p>Data loaded: <span data-json-replace="#[jmanager]/data">Nothing loaded yet</span></p>
<div>
<ul data-wb-json='{
		"url": "#[example2]",
		"mapping": [
			{ "selector": "li", "value": "/itm1" }
		]
	}'>
<template>
<li></li>
</template>
</ul>
</div>
<details>
<summary>View source code</summary>
<h3>HTML</h3>
<pre><code>&lt;p&gt;Load JSON files:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;button type=&quot;button&quot; data-wb-doaction='{ &quot;action&quot;: &quot;loadJSON&quot;, &quot;source&quot;: &quot;#testLoader&quot;, &quot;url&quot;: &quot;demo/file-1.json&quot; }'&gt;JSON file 1&lt;/button&gt;&lt;/li&gt;
&lt;li&gt;&lt;button type=&quot;button&quot; data-wb-doaction='{ &quot;action&quot;: &quot;loadJSON&quot;, &quot;source&quot;: &quot;#testLoader&quot;, &quot;url&quot;: &quot;demo/file-2.json&quot; }'&gt;JSON file 2&lt;/button&gt;&lt;/li&gt;
&lt;li&gt;&lt;button type=&quot;button&quot; data-wb-doaction='{ &quot;action&quot;: &quot;loadJSON&quot;, &quot;source&quot;: &quot;#testLoader&quot;, &quot;url&quot;: &quot;demo/file-3.json&quot; }'&gt;JSON file 3&lt;/button&gt;&lt;/li&gt;
&lt;li&gt;&lt;button type=&quot;button&quot; data-wb-doaction='{ &quot;action&quot;: &quot;loadJSON&quot;, &quot;source&quot;: &quot;#testLoader&quot;, &quot;url&quot;: &quot;demo/file-4.json&quot; }'&gt;JSON file 4&lt;/button&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;div id=&quot;testLoader&quot; data-wb-jsonmanager='{
		&quot;url&quot;: &quot;demo/empty.json&quot;,
		&quot;name&quot;: &quot;jmanager&quot;
	}'&gt;&lt;/div&gt;
&lt;p&gt;Data loaded: &lt;span data-json-replace=&quot;#[jmanager]/data&quot;&gt;Nothing loaded yet&lt;/span&gt;&lt;/p&gt;</code></pre>
<h3>File <code>demo/file-1.json</code></h3>
<pre><code>{
"data": "From JSON file 1"
}</code></pre>
	<h3>File <code>demo/file-2.json</code></h3>
<pre><code>{
"data": "+From JSON file 2"
}</code></pre>
	<h3>File <code>demo/file-3.json</code></h3>
<pre><code>{
"data": "-From JSON file 3"
}</code></pre>
	<h3>File <code>demo/file-4.json</code></h3>
<pre><code>{
"data": "&amp;From JSON file 4"
}</code></pre>
</details>
<h2>Apply a JSON patch</h2>
<p>Same configuration as described by the URL mapping</p>
<button class="btn btn-primary" type="button" data-wb-doaction='{ "action": "patch", "source": "#testLoader", "patches": [
	{ "op": "add", "path": "/data", "value": "Patched Data" }
] }'>Apply a patch</button>

<p>Data loaded or patched: <span data-json-replace="#[jmanager]/data">Nothing loaded yet</span></p>
<div>
	<ul data-wb-json='{
		"url": "#[example2]",
		"mapping": [
			{ "selector": "li", "value": "/itm1" }
		]
	}'>
<template>
<li></li>
</template>
</ul>
</div>
<details>
<summary>View source code</summary>
<h3>HTML</h3>
<pre><code>&lt;button type=&quot;button&quot; data-wb-doaction='{ &quot;action&quot;: &quot;patch&quot;, &quot;source&quot;: &quot;#testLoader&quot;, &quot;patches&quot;: [
	{ &quot;op&quot;: &quot;add&quot;, &quot;path&quot;: &quot;/data&quot;, &quot;value&quot;: &quot;Patched Data&quot; }
] }'&gt;Apply a patch&lt;/button&gt;
&lt;div id=&quot;testLoader&quot; data-wb-jsonmanager='{
		&quot;url&quot;: &quot;demo/empty.json&quot;,
		&quot;name&quot;: &quot;jmanager&quot;
	}'&gt;&lt;/div&gt;
&lt;p&gt;Data loaded or patched: &lt;span data-json-replace=&quot;#[jmanager]/data&quot;&gt;Nothing loaded yet&lt;/span&gt;&lt;/p&gt;</code></pre>
<h3>File <code>demo/empty.json</code></h3>
<pre><code>{
}</code></pre>
</details>
<h2>Apply a JSON patch based on a value on an input</h2>
<p>Similar as the URL mapping patch working example, and it share the same requirement like a default + a regular expression for parsing.</p>
<label>Enter either of the following 3 value "vdm" | "gat" | "ott"
<input id="myinput" value="">
</label>
<div>
<button class="btn btn-primary" type="button" data-wb-doaction='{ "action": "withInput", "srcInput": "#myinput", "actions": [
	{
		"action": "patch", "source": "#jmexample3", "base": "/city", "match": "^[a-z][a-z][a-z]$", "default": "vdm",

		"patches" : {
			"op": "move",
			"path": "{base}",
			"from": "{base}/{qval}"
		}
	}
] }'>Apply a patch based on User Input</button>
</div>
<p id="jmexample3" data-wb-jsonmanager='{ "url": "../wb-urlmapping/demo/data-en.json", "name": "example4", "wait": true }'>Data patched as per the value of the input: <span data-json-replace="#[example4]/city">Nothing loaded yet</span></p>
<div>
	<ul data-wb-json='{
		"url": "#[example2]",
		"mapping": [
			{ "selector": "li", "value": "/itm1" }
		]
	}'>
<template>
<li></li>
</template>
</ul>
</div>
<details>
<summary>View source code</summary>
<h3>HTML</h3>
<pre><code>&lt;label&gt;Enter either of the following 3 value &quot;vdm&quot; | &quot;gat&quot; | &quot;ott&quot;
&lt;input id=&quot;myinput&quot; value=&quot;&quot;&gt;
&lt;/label&gt;
&lt;button type=&quot;button&quot; data-wb-doaction='{ &quot;action&quot;: &quot;withInput&quot;, &quot;srcInput&quot;: &quot;#myinput&quot;, &quot;actions&quot;: [
	{
		&quot;action&quot;: &quot;patch&quot;, &quot;source&quot;: &quot;#jmexample3&quot;, &quot;base&quot;: &quot;/city&quot;, &quot;match&quot;: &quot;^[a-z][a-z][a-z]$&quot;, &quot;default&quot;: &quot;vdm&quot;,

		&quot;patches&quot; : {
			&quot;op&quot;: &quot;move&quot;,
			&quot;path&quot;: &quot;{base}&quot;,
			&quot;from&quot;: &quot;{base}/{qval}&quot;
		}
	}
] }'&gt;Apply a patch based on User Input&lt;/button&gt;
&lt;p id=&quot;jmexample3&quot; data-wb-jsonmanager='{ &quot;url&quot;: &quot;../wb-urlmapping/demo/data-en.json&quot;, &quot;name&quot;: &quot;example4&quot;, &quot;wait&quot;: true }'&gt;Data patched as per the value of the input: &lt;span data-json-replace=&quot;#[example4]/city&quot;&gt;Nothing loaded yet&lt;/span&gt;&lt;/p&gt;</code></pre>
<h3>File <code>demo/data-en.json</code></h3>
<pre><code>
{
"city": {
"gat": "Gatineau",
"ott": "Ottawa",
"vdm": "Val-des-monts"
},
"fruit": "Perry",
"country": {
"name": "Canada",
"province": {
"qc": "Quebec",
"on": "Ontario",
"ma": "Manitoba"
}
}
}
</code></pre>
</details>

<h2>Combination of Load and Apply patch based on the value of a date field</h2>
<p>

<ul>
<li>This sample includes a field flow element that is used to show/hide the appropriate html using "addClass" and "removeClass" actions for the "hidden" class</li>
<li>The difference in the "copy" patch is seen in the "from" parameter. One is "standard" and the other, "express". This sets the path for the JSON lookup</li>
<li>The "withInput" action requires a "match" and a "default" parameter. The "match" parameter is a regex for the acceptable values expected from the "srcInput". The "default" may be a key to a JSON lookup - usually an error message</li>
</ul>

</p>

<div class="wb-fieldflow" data-wb-fieldflow='{
	"default": [ { "action": "addClass", "source":"#standardaddremove", "class": "hidden" },
					{ "action": "addClass", "source":"#expressaddremove", "class": "hidden"}]}'>
	<p>Select a delivery option:</p>
	<ul>
		<li data-wb-fieldflow='{ "action": "removeClass", "source":"#expressaddremove", "class": "hidden" }'>Express</li>
		<li data-wb-fieldflow='{ "action": "removeClass", "source":"#standardaddremove", "class": "hidden" }'>Standard</li>
	</ul>
</div>

<div id="standardaddremove" class="hidden">
<label>Order date
	<input type="date" id="standarddatefield" min="2019-06-10" max="2019-06-12" value="">
</label>
<button type="button" data-wb-doaction='[
{ "action": "loadJSON", "source": "#smallLoader", "url": "demo/doaction-date-en.json" },
{ "action": "withInput", "srcInput": "#standarddatefield", "actions": [
{
"action": "patch", "source": "#smallLoader", "match": "^20[1,2][8,9,0]-[1,0][0-9]-[0,1,2,3][0-9]$", "default": "bad-date",
"patches" : [{
"op": "copy",
"path": "/date",
"from": "/standard/{qval}"
}]
}
] }
]'>Apply a patch based on Date Input</button>
</div>

<div id="expressaddremove" class="hidden">
<label>Order date
	<input type="date" id="expressdatefield" min="2019-06-10" max="2019-06-12" value="">
</label>
<button type="button" data-wb-doaction='[
	{ "action": "loadJSON", "source": "#smallLoader", "url": "demo/doaction-date-en.json" },
	{ "action": "withInput", "srcInput": "#expressdatefield", "actions": [
		{
			"action": "patch", "source": "#smallLoader", "match": "^20[1,2][8,9,0]-[1,0][0-9]-[0,1,2,3][0-9]$", "default": "bad-date",

			"patches" : [
				{
				"op": "copy",
				"path": "/date",
				"from": "/express/{qval}"
				}
			]
		}
	] }
]'>Apply a patch based on Date Input</button>
</div>

<div id="smallLoader" data-wb-jsonmanager='{
		"url": "demo/empty.json",
		"name": "jsonsmall",
		"wait": true
	}'></div>

<p>Expected delivery date: <span data-json-replace="#[jsonsmall]/date">Date not loaded yet</span></p>
<div>
<ul data-wb-json='{
"url": "#[example2]",
"mapping": [{ "selector": "li", "value": "/itm1" }]
}'>
<template>
<li></li>
</template>
</ul>
</div>
<details>
<summary>View source code</summary>
<h3>HTML</h3>
<pre><code>

&lt;div class=&quot;wb-fieldflow&quot; data-wb-fieldflow='{
	&quot;default&quot;: [ { &quot;action&quot;: &quot;addClass&quot;, &quot;source&quot;:&quot;#standardaddremove&quot;, &quot;class&quot;: &quot;hidden&quot; },
					{ &quot;action&quot;: &quot;addClass&quot;, &quot;source&quot;:&quot;#expressaddremove&quot;, &quot;class&quot;: &quot;hidden&quot;}]
	}'&gt;
	&lt;p&gt;Select a delivery option:&lt;/p&gt;
	&lt;ul&gt;
		&lt;li data-wb-fieldflow='{ &quot;action&quot;: &quot;removeClass&quot;, &quot;source&quot;:&quot;#expressaddremove&quot;, &quot;class&quot;: &quot;hidden&quot; }'&gt;Express&lt;/li&gt;
		&lt;li data-wb-fieldflow='{ &quot;action&quot;: &quot;removeClass&quot;, &quot;source&quot;:&quot;#standardaddremove&quot;, &quot;class&quot;: &quot;hidden&quot; }'&gt;Standard&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;

&lt;div id=&quot;standardaddremove&quot; class=&quot;hidden&quot;&gt;
&lt;label&gt;Order date
	&lt;input type=&quot;date&quot; id=&quot;standarddatefield&quot; min=&quot;2019-06-10&quot; max=&quot;2019-06-12&quot; value=&quot;&quot;&gt;
&lt;/label&gt;
&lt;button type=&quot;button&quot; data-wb-doaction='[
	{ &quot;action&quot;: &quot;loadJSON&quot;, &quot;source&quot;: &quot;#smallLoader&quot;, &quot;url&quot;: &quot;demo/doaction-date-en.json&quot; },
	{ &quot;action&quot;: &quot;withInput&quot;, &quot;srcInput&quot;: &quot;#standarddatefield&quot;, &quot;actions&quot;: [
		{
			&quot;action&quot;: &quot;patch&quot;, &quot;source&quot;: &quot;#smallLoader&quot;, &quot;match&quot;: &quot;^20[1,2][8,9,0]-[1,0][0-9]-[0,1,2,3][0-9]$&quot;, &quot;default&quot;: &quot;bad-date&quot;,

			&quot;patches&quot; : [
				{
				&quot;op&quot;: &quot;copy&quot;,
				&quot;path&quot;: &quot;/date&quot;,
				&quot;from&quot;: &quot;/standard/{qval}&quot;
				}
			]
		}
	] }
]'&gt;Apply a patch based on Date Input&lt;/button&gt;
&lt;/div&gt;

&lt;div id=&quot;expressaddremove&quot; class=&quot;hidden&quot;&gt;
&lt;label&gt;Order date
	&lt;input type=&quot;date&quot; id=&quot;expressdatefield&quot; min=&quot;2019-06-10&quot; max=&quot;2019-06-12&quot; value=&quot;&quot;&gt;
&lt;/label&gt;
&lt;button type=&quot;button&quot; data-wb-doaction='[
	{ &quot;action&quot;: &quot;loadJSON&quot;, &quot;source&quot;: &quot;#smallLoader&quot;, &quot;url&quot;: &quot;demo/doaction-date-en.json&quot; },
	{ &quot;action&quot;: &quot;withInput&quot;, &quot;srcInput&quot;: &quot;#expressdatefield&quot;, &quot;actions&quot;: [
		{
			&quot;action&quot;: &quot;patch&quot;, &quot;source&quot;: &quot;#smallLoader&quot;, &quot;match&quot;: &quot;^20[1,2][8,9,0]-[1,0][0-9]-[0,1,2,3][0-9]$&quot;, &quot;default&quot;: &quot;bad-date&quot;,

			&quot;patches&quot; : [
				{
				&quot;op&quot;: &quot;copy&quot;,
				&quot;path&quot;: &quot;/date&quot;,
				&quot;from&quot;: &quot;/express/{qval}&quot;
				}
			]
		}
	] }
]'&gt;Apply a patch based on Date Input&lt;/button&gt;
&lt;/div&gt;

&lt;div id=&quot;smallLoader&quot; data-wb-jsonmanager='{
		&quot;url&quot;: &quot;demo/empty.json&quot;,
		&quot;name&quot;: &quot;jsonsmall&quot;,
		&quot;wait&quot;: true
	}'&gt;&lt;/div&gt;

&lt;p&gt;Expected delivery date: &lt;span data-json-replace=&quot;#[jsonsmall]/date&quot;&gt;Date not loaded yet&lt;/span&gt;&lt;/p&gt;
</code></pre>
<h3>File <code>demo/doaction-date-en.json</code></h3>
<pre><code>
{
	"test" : "test found!",
	"express" : {
		"bad-date" : "Date not found",
		"2019-06-10" : "2019-06-13",
		"2019-06-11" : "2019-06-14",
		"2019-06-12" : "2019-06-15"
	},
	"standard" : {
		"bad-date" : "Date not found",
		"2019-06-10" : "2019-06-20",
		"2019-06-11" : "2019-06-21",
		"2019-06-12" : "2019-06-22"
	}
}
</code></pre>
</details>

<section class="pagedetails">
	<h2 class="wb-inv">Page details</h2><dl id="wb-dtmd">
	<dt>Date modified:</dt>
	<dd><time property="dateModified">2019-09-05</time></dd>
</dl>
</section>

</main>
<footer id="wb-info">
	<h2 class="wb-inv">About this site</h2>


	<div class="gc-main-footer">
		<div class="container">
			<nav>
				<h3>Government of Canada</h3>
				<ul class="list-col-xs-1 list-col-sm-2 list-col-md-3"><li><a href="https://www.canada.ca/en/contact.html">All contacts</a></li>
					<li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
					<li><a href="https://www.canada.ca/en/government/system.html">About government</a></li></ul>
				<h4><span class="wb-inv">Themes and topics</span></h4>
				<ul class="list-unstyled colcount-sm-2 colcount-md-3"><li><a href="https://www.canada.ca/en/services/jobs.html">Jobs</a></li>
					<li><a href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
					<li><a href="https://travel.gc.ca/">Travel and tourism</a></li>
					<li><a href="https://www.canada.ca/en/services/business.html">Business</a></li>
					<li><a href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
					<li><a href="https://www.canada.ca/en/services/health.html">Health</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
					<li><a href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
					<li><a href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
					<li><a href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
					<li><a href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
					<li><a href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
					<li><a href="https://www.international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
					<li><a href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
					<li><a href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li>
					<li><a href="https://www.canada.ca/en/services/indigenous-peoples.html">Indigenous Peoples</a></li>
					<li><a href="https://www.canada.ca/en/services/veterans-military.html">Veterans and military</a></li>
					<li><a href="https://www.canada.ca/en/services/youth.html">Youth</a></li>
					<li><a href="https://www.canada.ca/en/services/life-events.html">Manage life events</a></li></ul>
			</nav>
		</div>
	</div>

	<div class="gc-sub-footer">
		<div class="container d-flex align-items-center">
			<nav>
				<h3 class="wb-inv">Government of Canada Corporate</h3>
				<ul>
					<li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
					<li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
					<li><a href="https://canada.ca/en/government/about-canada-ca.html">About Canada.ca</a></li><li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
					<li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li></ul>
			</nav>
			<div class="wtrmrk align-self-end">
				<img src="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/assets/wmms-blk.svg" alt="Symbol of the Government of Canada" />
			</div>
		</div>
	</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
<script src="/wet-boew-demos/gcweb-pr2725/dist/wet-boew/js/wet-boew.js"></script>
<script src="/wet-boew-demos/gcweb-pr2725/dist/GCWeb/js/theme.js"></script>
</body>
</html>
